Repository still-forest/dot-dev: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default: false # disable the default status
      api:
        flags:
          - api
        paths:
          - "api/"
      web:
        flags:
          - web
        paths:
          - "web/"

flags:
  api:
    paths:
      - api/
  web:
    paths:
      - web/

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default

Use ContactForm for support (#158)
  web/src/app/[root]/index.tsx
  web/src/app/abroad/disclosures.tsx
  web/src/app/abroad/index.tsx
  web/src/app/abroad/privacy.tsx
  web/src/app/abroad/support.tsx
  web/src/app/contact/index.tsx
  web/src/app/not-found.tsx
  web/src/components/ContactForm/ContactForm.tsx
  web/src/components/SectionHeading.tsx
  web/src/config.ts
  web/src/main.tsx
  web/tests/app/root.test.tsx
  web/tests/components/ContactForm.test.tsx
Due: web

bump canopy
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/SectionHeading.tsx
Due: web

Bump canopy version (#159)
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/SectionHeading.tsx
Due: web

move project links to separate line on mobile
  web/src/components/Footer.tsx
Due: web

bump canopy to resolve horizontal scrolling around logo
  web/package.json
  web/pnpm-lock.yaml
Due: web

add xs breakpoint
  web/src/components/Footer.tsx
  web/src/index.css
  web/src/theme.css
Due: web

header
  web/src/components/Header.tsx
Due: web

Abroad
  web/src/app/abroad/index.tsx
Due: web

hero
  web/src/app/[root]/index.tsx
  web/src/app/abroad/index.tsx
  web/src/components/HeroImage.tsx
Due: web

feedback
  web/src/components/Footer.tsx
  web/src/theme.css
Due: web

Improve responsiveness (#160)
  web/package.json
  web/pnpm-lock.yaml
  web/src/app/[root]/index.tsx
  web/src/app/abroad/index.tsx
  web/src/components/Footer.tsx
  web/src/components/Header.tsx
  web/src/components/HeroImage.tsx
  web/src/index.css
  web/src/theme.css
Due: web

simplify contact handling
  api/src/api/ValidationError.ts
  api/src/api/contact.actions.ts
  api/src/api/contact.handler.ts
  api/src/api/contact.schema.ts
  api/src/api/contact.service.ts
  api/src/app.ts
  api/src/middleware/schemaValidation.middleware.ts
  api/src/types.ts
  api/tests/api.test.ts
  api/tests/contact.service.test.ts
  package.json
Due: api

tests
  api/src/api/OperatorService.ts
  api/src/api/contact.actions.ts
  api/tests/OperatorService.test.ts
  api/tests/api.test.ts
  api/tests/contact-actions.test.ts
Due: api

Clean up contact submission (API-side) (#161)
  api/src/api/OperatorService.ts
  api/src/api/ValidationError.ts
  api/src/api/contact.actions.ts
  api/src/api/contact.handler.ts
  api/src/api/contact.schema.ts
  api/src/app.ts
  api/src/middleware/schemaValidation.middleware.ts
  api/src/types.ts
  api/tests/OperatorService.test.ts
  api/tests/api.test.ts
  api/tests/contact-actions.test.ts
  package.json
Due: api

fix packages
  web/package.json
  web/pnpm-lock.yaml
Due: web

Remove msw
  web/package.json
  web/pnpm-lock.yaml
  web/tests/components/formSubmit.test.ts
  web/tests/support/server.ts
  web/vitest.setup.ts
Due: web

Remove msw (#162)
  web/package.json
  web/pnpm-lock.yaml
  web/tests/components/formSubmit.test.ts
  web/tests/support/server.ts
  web/vitest.setup.ts
Due: web

separate test config
  web/package.json
  web/pnpm-lock.yaml
  web/vite.config.ts
  web/vitest.config.ts
Due: web

isbot
  web/package.json
  web/pnpm-lock.yaml
Due: web

move into app dir
  Dockerfile
  web/package.json
  web/pnpm-lock.yaml
  web/react-router.config.ts
  web/src/App.tsx
  web/src/app/entry.client.tsx
  web/src/app/index.css
  web/src/app/pages/abroad/disclosures.tsx
  web/src/app/pages/abroad/index.tsx
  web/src/app/pages/abroad/privacy.tsx
  web/src/app/pages/abroad/support.tsx
  web/src/app/pages/contact/index.tsx
  web/src/app/pages/index.tsx
  web/src/app/pages/not-found.tsx
  web/src/app/root.tsx
  web/src/app/routes.ts
  web/src/app/theme.css
  web/tests/app/root.test.tsx
Due: web

docker...but only frontend
  .dockerignore
  Dockerfile
  api/src/app.ts
  web/package.json
  web/pnpm-lock.yaml
  web/react-router.config.ts
Due: api, web

Bring back next.js
  .gitignore
  web/index.html
  web/next-env.d.ts
  web/next.config.ts
  web/package.json
  web/pnpm-lock.yaml
  web/postcss.config.mjs
  web/src/Abroad/Header.tsx
  web/src/app/abroad/disclosures/page.tsx
  web/src/app/abroad/page.tsx
  web/src/app/abroad/privacy/page.tsx
  web/src/app/abroad/support/page.tsx
  web/src/app/contact/page.tsx
  web/src/app/index.css
  web/src/app/layout.tsx
  web/src/app/not-found.tsx
  web/src/app/page.tsx
  web/src/app/theme.css
  web/src/components/ContactForm/ContactForm.tsx
  web/src/components/ContactForm/formSubmit.ts
  web/src/components/Footer.tsx
  web/src/components/Header.tsx
  web/src/components/Link.tsx
  web/src/components/ThemeProvider.tsx
  web/src/context/ThemeProvider.tsx
  web/src/context/ThemeProviderContext.tsx
  web/src/context/useTheme.ts
  web/src/lib/config.ts
  web/src/lib/utils.ts
  web/src/main.tsx
  web/tests/app/root.test.tsx
  web/tests/components/formSubmit.test.ts
  web/tsconfig.json
  web/vite-env.d.ts
  web/vite.config.ts
  web/vitest.config.ts
Due: web

docker
  Dockerfile
  docker-compose.override.yml
  docker-compose.yml
Due: none

fix build
  web/next-env.d.ts
  web/next.config.ts
  web/src/app/contact/page.tsx
  web/src/app/globals.css
  web/src/app/layout.tsx
  web/src/components/Footer.tsx
  web/tests/support/render.tsx
  web/tsconfig.json
Due: web

tests
  web/tests/components/ContactForm.test.tsx
Due: web

always use internal Link
  web/next-env.d.ts
  web/src/Abroad/Header.tsx
  web/src/app/[root]/index.tsx
  web/src/app/abroad/disclosures.tsx
  web/src/app/abroad/privacy.tsx
  web/src/components/ContactForm/ContactForm.tsx
  web/src/components/Footer.tsx
  web/src/components/Header.tsx
  web/src/components/Link.tsx
Due: web

clean up config
  api/src/config.ts
  docker-compose.yml
  web/src/app/abroad/disclosures.tsx
  web/src/app/abroad/privacy.tsx
  web/src/app/abroad/support.tsx
  web/src/app/globals.css
  web/src/app/theme.css
  web/src/components/ContactForm/ContactForm.tsx
  web/src/components/ContactForm/formSubmit.ts
  web/src/components/Footer.tsx
  web/src/lib/config.ts
  web/src/lib/utils.ts
  web/src/main.tsx
  web/tests/components/formSubmit.test.ts
Due: api, web

few more
  web/src/Abroad/Header.tsx
  web/src/app/abroad/index.tsx
Due: web

must use NODE_ENV, I guess
  web/index.html
  web/src/app/main.tsx
  web/src/lib/config.ts
Due: web

Always use internal Link component (#164)
  web/next-env.d.ts
  web/src/Abroad/Header.tsx
  web/src/app/[root]/index.tsx
  web/src/app/abroad/disclosures.tsx
  web/src/app/abroad/index.tsx
  web/src/app/abroad/privacy.tsx
  web/src/components/ContactForm/ContactForm.tsx
  web/src/components/Footer.tsx
  web/src/components/Header.tsx
  web/src/components/Link.tsx
Due: web

kill APP_ENV for now
  api/jest.config.ts
  api/src/config.ts
  docker-compose.yml
Due: api

cleanup
  api/jest.config.ts
Due: api

Clean up config (#165)
  api/src/config.ts
  web/index.html
  web/src/app/abroad/disclosures.tsx
  web/src/app/abroad/privacy.tsx
  web/src/app/abroad/support.tsx
  web/src/app/globals.css
  web/src/app/main.tsx
  web/src/app/theme.css
  web/src/components/ContactForm/ContactForm.tsx
  web/src/components/ContactForm/formSubmit.ts
  web/src/components/Footer.tsx
  web/src/lib/config.ts
  web/src/lib/utils.ts
  web/tests/components/formSubmit.test.ts
Due: api, web

fix build
  package.json
  pnpm-lock.yaml
  web/package.json
  web/pnpm-lock.yaml
  web/tsconfig.json
Due: web

Attempt to use SSR
  web/src/Abroad/Header.tsx
  web/src/app/abroad/disclosures/page.tsx
  web/src/app/abroad/page.tsx
  web/src/app/abroad/privacy/page.tsx
  web/src/app/abroad/support/page.tsx
  web/src/app/contact/page.tsx
  web/src/app/page.tsx
  web/src/components/ContactForm/ContactForm.tsx
  web/src/components/ContactForm/InputError.tsx
  web/src/components/ContactForm/SubmitButton.tsx
  web/src/components/Footer.tsx
  web/src/components/Header.tsx
  web/src/components/HeroImage.tsx
  web/src/components/Layout.tsx
  web/src/components/SectionHeading.tsx
Due: web

bring back rate limit
  web/src/components/ContactForm/ContactForm.tsx
  web/src/hooks/useRateLimit.ts
  web/tests/components/ContactForm.test.tsx
Due: web

fix
  web/src/components/ContactForm/ContactForm.tsx
  web/src/hooks/useRateLimit.ts
Due: web

constant
  web/src/components/ContactForm/ContactForm.tsx
  web/src/lib/config.ts
Due: web

Bring back client-side rate limit (#166)
  web/src/components/ContactForm/ContactForm.tsx
  web/src/hooks/useRateLimit.ts
  web/src/lib/config.ts
  web/tests/components/ContactForm.test.tsx
Due: web

Revert "Attempt to use SSR"
  web/src/Abroad/Header.tsx
  web/src/app/abroad/disclosures/page.tsx
  web/src/app/abroad/page.tsx
  web/src/app/abroad/privacy/page.tsx
  web/src/app/abroad/support/page.tsx
  web/src/app/contact/page.tsx
  web/src/app/page.tsx
  web/src/components/ContactForm/ContactForm.tsx
  web/src/components/ContactForm/InputError.tsx
  web/src/components/ContactForm/SubmitButton.tsx
  web/src/components/Footer.tsx
  web/src/components/Header.tsx
  web/src/components/HeroImage.tsx
  web/src/components/Layout.tsx
  web/src/components/SectionHeading.tsx
Due: web
