Repository still-forest/dot-dev: changes, and which Codecov flags are due for each by the changed paths.
All: backend, web

fix hanging response
  .github/workflows/ci-tests.yml
  .pre-commit-config.yaml
  api/src/app.ts
  api/tests/api.test.ts
Due: backend

new workflows
  .github/workflows/ci-test-api.yml
  .github/workflows/ci-test-web.yml
Due: none

Add request to api
  api/package.json
  api/src/app.ts
  api/src/config.ts
  api/src/services/contact.service.ts
  api/tests/contact.service.test.ts
  api/tsconfig.json
Due: backend

use axios; update tests
  api/package.json
  api/pnpm-lock.yaml
  api/src/config.ts
  api/src/services/contact.service.ts
  api/tests/api.test.ts
  api/tests/contact.service.test.ts
Due: backend

path is relative to root
  .github/workflows/ci-test-api.yml
  .github/workflows/ci-test-web.yml
  api/src/config.ts
Due: backend

cleanup
  Dockerfile
  api/src/app.ts
  api/src/config.ts
  api/src/middleware/cors.middleware.ts
  api/src/middleware/logging.middleware.ts
  api/src/services/contact.service.ts
  api/src/services/logger.service.ts
Due: backend

don't attempt to send in development
  api/jest.config.ts
  api/src/app.ts
  api/src/index.ts
  api/src/services/logger.service.ts
Due: backend

feedback
  api/src/app.ts
  api/src/config.ts
  api/src/index.ts
  api/src/middleware/cors.middleware.ts
  api/src/services/logger.service.ts
  codecov.yml
Due: backend

fix
  api/tests/api.test.ts
Due: backend

Move form completion logic to Express app (#29)
  .github/workflows/ci-test-api.yml
  .github/workflows/ci-test-web.yml
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
  api/jest.config.ts
  api/package.json
  api/pnpm-lock.yaml
  api/src/app.ts
  api/src/config.ts
  api/src/index.ts
  api/src/middleware/cors.middleware.ts
  api/src/middleware/logging.middleware.ts
  api/src/services/contact.service.ts
  api/src/services/logger.service.ts
  api/tests/api.test.ts
  api/tests/contact.service.test.ts
  api/tsconfig.json
  codecov.yml
  web/src/components/ContactForm/formSubmit.ts
  web/src/config.ts
  web/tests/components/formSubmit.test.ts
  web/tests/support/server.ts
Due: backend, web

Add rate limiter to Express server
  api/package.json
  api/pnpm-lock.yaml
  api/src/app.ts
  api/src/middleware/rateLimit.middleware.ts
Due: backend

move existing validation
  api/src/app.ts
  api/src/services/contact.service.ts
  api/tests/contact.service.test.ts
  web/src/components/ContactForm/schema.ts
Due: backend, web

Add schema
  api/package.json
  api/pnpm-lock.yaml
  api/src/schemas/ContactFormInput.schema.ts
Due: backend

feedback
  api/src/app.ts
Due: backend

Apply validations
  api/src/app.ts
  api/src/middleware/schemaValidation.middleware.ts
  api/src/schemas/ContactFormInput.schema.ts
  api/tests/api.test.ts
Due: backend

only rate limit API
  api/src/app.ts
  api/src/middleware/rateLimit.middleware.ts
Due: backend

Add rate limiter to Express server (#31)
  api/package.json
  api/pnpm-lock.yaml
  api/src/app.ts
  api/src/middleware/rateLimit.middleware.ts
Due: backend

it doesn't seem like extends works like I think it is
  api/tsconfig.json
  tsconfig.json
  web/tsconfig.json
Due: backend, web

rework contact API params
  api/src/api/contact.handler.ts
  api/src/app.ts
  api/src/services/contact.service.ts
  api/tests/contact.service.test.ts
  web/src/components/ContactForm/formSubmit.ts
  web/tests/components/formSubmit.test.ts
Due: backend, web

tests
  api/src/api/contact.handler.ts
  api/tests/api.test.ts
Due: backend

fix docker
  Dockerfile
Due: none

add tests for 400 response
  api/tests/api.test.ts
Due: backend

tests for dev env
  api/src/config.ts
  api/src/services/logger.service.ts
  api/tests/api.test.ts
Due: backend

Reconfigure contact API params (#35)
  Dockerfile
  api/src/api/contact.handler.ts
  api/src/app.ts
  api/src/config.ts
  api/src/services/contact.service.ts
  api/src/services/logger.service.ts
  api/tests/api.test.ts
  api/tests/contact.service.test.ts
  api/tsconfig.json
  tsconfig.json
  web/src/components/ContactForm/formSubmit.ts
  web/tests/components/formSubmit.test.ts
  web/tsconfig.json
Due: backend, web

remove validations from service
  api/src/api/contact.handler.ts
  api/src/app.ts
  api/src/services/contact.service.ts
  api/tests/api.test.ts
  api/tests/contact.service.test.ts
Due: backend

validate email
  api/src/schemas/ContactFormInput.schema.ts
  api/tests/api.test.ts
Due: backend

sanitization test
  api/tests/api.test.ts
Due: backend

Add more validations to contact API (#32)
  api/package.json
  api/pnpm-lock.yaml
  api/src/api/contact.handler.ts
  api/src/app.ts
  api/src/middleware/schemaValidation.middleware.ts
  api/src/schemas/ContactFormInput.schema.ts
  api/src/services/contact.service.ts
  api/tests/api.test.ts
  web/src/components/ContactForm/schema.ts
Due: backend, web

add Railway config
  railway.json
Due: none

Use it for build too
  package.json
Due: none

Add Railway config (#48)
  railway.json
Due: none

configure prometheus
  api/package.json
  api/pnpm-lock.yaml
  api/src/app.ts
  api/src/middleware/prometheus.middleware.ts
  api/src/services/prometheus.service.ts
Due: backend

loki
  api/package.json
  api/pnpm-lock.yaml
  api/src/config.ts
  api/src/services/logger.service.ts
  api/tsconfig.json
Due: backend

env vars
  docker-compose.yml
Due: none

push instead
  api/package.json
  api/pnpm-lock.yaml
  api/src/app.ts
  api/src/config.ts
  api/src/middleware/prometheus.middleware.ts
  api/src/services/metricsPusher.service.ts
  api/src/services/prometheus.service.ts
Due: backend

status
  api/src/app.ts
Due: backend

cleanup, logging
  api/src/app.ts
  api/src/config.ts
  api/src/middleware/prometheus.middleware.ts
  api/src/services/logger.service.ts
  api/src/services/metricsPusher.service.ts
  api/src/services/prom.service.ts
  api/src/services/prometheus.service.ts
  api/src/types.ts
Due: backend

Revert "push instead"
  api/package.json
  api/pnpm-lock.yaml
  api/src/app.ts
  api/src/config.ts
  api/src/middleware/prometheus.middleware.ts
  api/src/services/prometheus.service.ts
Due: backend

Add agent
  api/grafana-agent.yml
Due: backend

drop metrics for now
  api/grafana-agent.yml
  api/package.json
  api/pnpm-lock.yaml
  api/src/app.ts
  api/src/middleware/prometheus.middleware.ts
  api/src/services/logger.service.ts
  api/src/services/prom.service.ts
  api/src/services/prometheus.service.ts
Due: backend

Path conditions:
  backend: any of: api/
  web: any of: web/
