Repository still-forest/dot-dev: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

idk what's going on
  tests/api/routes/contact.test.ts
  tests/components/InputError.test.tsx
  tests/setup-frontend.ts
  vitest.config.ts
Due: none

Revert "idk what's going on"
  tests/api/routes/contact.test.ts
  tests/components/InputError.test.tsx
  tests/setup-frontend.ts
  vitest.config.ts
Due: none

Revert "try separating setup configs"
  package.json
  pnpm-lock.yaml
  src/app/api/contact/route.ts
  src/middleware.ts
  src/middleware/validation.ts
  tests/api/routes/contact.test.ts
  tests/components/App.test.tsx
  tests/components/formSubmit.test.ts
  tests/setup-api.ts
  tests/setup-msw.ts
  tests/support/next-test-server.ts
  vitest.config.ts
  vitest.setup.ts
Due: none

add react-router
  web/package.json
  web/pnpm-lock.yaml
  web/src/main.tsx
Due: web

add abroad route
  web/src/main.tsx
  web/src/pages/abroad/index.tsx
Due: web

add basic privacy policy
  web/src/Abroad/Header.tsx
  web/src/App.tsx
  web/src/app/[root]/index.tsx
  web/src/app/abroad/index.tsx
  web/src/app/abroad/privacy.tsx
  web/src/config.ts
  web/src/main.tsx
  web/src/pages/abroad/index.tsx
Due: web

front page
  web/public/abroad/adaptive-icon.png
  web/public/abroad/favicon-dark.png
  web/public/abroad/favicon.png
  web/public/abroad/icon-dark.png
  web/public/abroad/icon.png
  web/public/abroad/logo.png
  web/public/abroad/splash-icon.png
  web/src/Abroad/Header.tsx
  web/src/app/abroad/index.tsx
Due: web

header
  web/index.html
  web/public/abroad/adaptive-icon.png
  web/public/abroad/icon.png
  web/src/Abroad/Header.tsx
  web/src/app/abroad/privacy.tsx
  web/src/index.css
Due: web

fonts & brand
  web/index.html
  web/src/Abroad/Header.tsx
  web/src/index.css
Due: web

on index too
  web/src/app/abroad/index.tsx
Due: web

link style
  web/src/App.tsx
  web/src/app/abroad/index.tsx
  web/src/components/Footer.tsx
  web/src/components/Link.tsx
  web/src/context/ThemeProvider.tsx
  web/src/main.tsx
Due: web

add to footer
  web/src/components/Footer.tsx
Due: web

drop audit
  .github/workflows/ci-build-api.yml
  .github/workflows/ci-build-web.yml
Due: none

fix tests
  package.json
  pnpm-lock.yaml
  web/tests/App.test.tsx
  web/tests/app/root.test.tsx
  web/tests/support/render.tsx
Due: web

manage title & favicon
  web/public/abroad/favicon-dark.png
  web/src/app/[root]/index.tsx
  web/src/app/abroad/index.tsx
  web/src/app/abroad/privacy.tsx
  web/src/hooks/useHead.ts
Due: web

cleanup
  web/public/abroad/favicon.png
  web/public/abroad/icon-dark.png
  web/src/app/abroad/privacy.tsx
  web/src/components/Link.tsx
  web/src/context/ThemeProvider.tsx
Due: web

Add Abroad with privacy policy (#77)
  .github/workflows/ci-build-api.yml
  .github/workflows/ci-build-web.yml
  package.json
  pnpm-lock.yaml
  web/index.html
  web/package.json
  web/pnpm-lock.yaml
  web/public/abroad/favicon.png
  web/public/abroad/logo.png
  web/public/abroad/splash-icon.png
  web/src/Abroad/Header.tsx
  web/src/app/[root]/index.tsx
  web/src/app/abroad/index.tsx
  web/src/app/abroad/privacy.tsx
  web/src/components/Footer.tsx
  web/src/components/Link.tsx
  web/src/config.ts
  web/src/hooks/useHead.ts
  web/src/index.css
  web/src/main.tsx
  web/tests/App.test.tsx
  web/tests/app/root.test.tsx
  web/tests/support/render.tsx
Due: web

serve react app on all routes
  api/src/app.ts
Due: api

wrap footer at mobile
  web/src/components/Footer.tsx
Due: web

header
  web/src/Abroad/Header.tsx
Due: web

contact form
  web/src/components/ContactForm/ContactForm.tsx
Due: web

detect mobile webview
  web/src/app/abroad/privacy.tsx
  web/src/components/Footer.tsx
  web/src/utils.ts
Due: web

Allow deep linking into React app; update Abroad privacy policy for mobile webview (#80)
  api/src/app.ts
  web/src/Abroad/Header.tsx
  web/src/app/abroad/privacy.tsx
  web/src/components/ContactForm/ContactForm.tsx
  web/src/components/Footer.tsx
  web/src/utils.ts
Due: api, web

update policy
  web/index.html
  web/src/app/abroad/privacy.tsx
  web/src/index.css
Due: web

Update Abroad's privacy policy with PostHog (#81)
  web/index.html
  web/src/app/abroad/privacy.tsx
  web/src/index.css
Due: web

Add disclosures
  web/src/Abroad/Header.tsx
  web/src/app/abroad/disclosures.tsx
  web/src/app/abroad/index.tsx
  web/src/app/abroad/privacy.tsx
  web/src/components/Paragraph.tsx
  web/src/index.css
  web/src/main.tsx
Due: web

Add not found page
  web/src/app/not-found.tsx
  web/src/main.tsx
Due: web

add not found page
  web/src/app/not-found.tsx
Due: web

intro
  web/src/app/abroad/disclosures.tsx
Due: web

background
  web/src/app/abroad/disclosures.tsx
Due: web

Add 404 page (#83)
  web/src/app/not-found.tsx
  web/src/main.tsx
Due: web

Add disclosures for Abroad (#82)
  web/src/Abroad/Header.tsx
  web/src/app/abroad/disclosures.tsx
  web/src/app/abroad/index.tsx
  web/src/app/abroad/privacy.tsx
  web/src/components/Paragraph.tsx
  web/src/index.css
  web/src/main.tsx
Due: web

Font & webview tweaks
  web/index.html
  web/src/app/abroad/disclosures.tsx
  web/src/app/abroad/privacy.tsx
  web/src/components/Layout.tsx
  web/src/index.css
Due: web

Change serif font to Forum; add some top margin to webview (#86)
  web/index.html
  web/src/app/abroad/disclosures.tsx
  web/src/app/abroad/privacy.tsx
  web/src/components/Layout.tsx
  web/src/index.css
Due: web

don't fail if codecov is not happy
  codecov.yml
Due: none

Don't fail CI if codecov is not happy (#87)
  codecov.yml
Due: none

Add super simple support page
  web/src/app/abroad/index.tsx
  web/src/main.tsx
Due: web

actually add page
  web/src/app/abroad/support.tsx
Due: web

stop
  codecov.yml
Due: none

(abroad) Add super simple support page (#96)
  codecov.yml
  web/src/app/abroad/index.tsx
  web/src/app/abroad/support.tsx
  web/src/main.tsx
Due: web

Path conditions:
  api: any of: api/
  web: any of: web/
