Repository still-forest/dot-dev: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default: false # disable the default status
      api:
        flags:
          - api
        paths:
          - "api/"
      web:
        flags:
          - web
        paths:
          - "web/"

flags:
  api:
    paths:
      - api/
  web:
    paths:
      - web/

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default

Update Biome to 2.1.2
  api/src/middleware/logging.middleware.ts
  biome.json
  package.json
  pnpm-lock.yaml
  renovate.json
  web/src/Abroad/Header.tsx
  web/src/app/[root]/index.tsx
  web/src/app/abroad/disclosures.tsx
  web/src/app/abroad/index.tsx
  web/src/app/abroad/privacy.tsx
  web/src/app/abroad/support.tsx
  web/src/components/ContactForm/ContactForm.tsx
  web/src/components/ContactForm/InputError.tsx
  web/src/components/ContactForm/SubmitButton.tsx
  web/src/components/Footer.tsx
  web/src/components/Header.tsx
  web/src/components/Layout.tsx
  web/src/components/Link.tsx
  web/src/components/Paragraph.tsx
  web/src/hooks/useRateLimit.ts
  web/src/index.css
  web/src/main.tsx
  web/tests/support/render.tsx
Due: api, web

Update Biome to 2.1.2 (#139)
  api/src/middleware/logging.middleware.ts
  biome.json
  package.json
  pnpm-lock.yaml
  renovate.json
  web/src/Abroad/Header.tsx
  web/src/app/[root]/index.tsx
  web/src/app/abroad/disclosures.tsx
  web/src/app/abroad/index.tsx
  web/src/app/abroad/privacy.tsx
  web/src/app/abroad/support.tsx
  web/src/components/ContactForm/ContactForm.tsx
  web/src/components/ContactForm/InputError.tsx
  web/src/components/ContactForm/SubmitButton.tsx
  web/src/components/Footer.tsx
  web/src/components/Header.tsx
  web/src/components/Layout.tsx
  web/src/components/Link.tsx
  web/src/components/Paragraph.tsx
  web/src/hooks/useRateLimit.ts
  web/src/index.css
  web/src/main.tsx
  web/tests/support/render.tsx
Due: api, web

abroad
  web/package.json
  web/pnpm-lock.yaml
  web/src/Abroad/Header.tsx
  web/src/app/[root]/index.tsx
  web/src/app/abroad/disclosures.tsx
  web/src/app/abroad/privacy.tsx
  web/src/app/abroad/support.tsx
  web/src/components/Footer.tsx
  web/src/components/Layout.tsx
  web/src/components/Paragraph.tsx
  web/src/index.css
Due: web

fix no ul in p warning
  web/package.json
  web/pnpm-lock.yaml
  web/src/app/abroad/privacy.tsx
Due: web

lint
  .github/workflows/ci-lint.yml
  web/src/index.css
Due: web

Update form-data
  api/pnpm-lock.yaml
  api/pnpm-workspace.yaml
Due: api

Copy workspace
  Dockerfile
Due: none

Copy again
  Dockerfile
Due: none

bump config
  package.json
  pnpm-lock.yaml
Due: none

Add next.js
  biome.json
  next/.gitignore
  next/README.md
  next/next.config.ts
  next/package.json
  next/pnpm-lock.yaml
  next/postcss.config.mjs
  next/public/file.svg
  next/public/globe.svg
  next/public/next.svg
  next/public/vercel.svg
  next/public/window.svg
  next/src/app/favicon.ico
  next/src/app/globals.css
  next/src/app/layout.tsx
  next/src/app/page.tsx
  next/tsconfig.json
Due: none

basic layout
  next/public/abroad/favicon.png
  next/public/abroad/logo.png
  next/public/abroad/splash-icon.png
  next/public/file.svg
  next/public/globe.svg
  next/public/icon-192.png
  next/public/logo-full-lg.png
  next/public/next.svg
  next/public/vercel.svg
  next/public/window.svg
  next/src/app/favicon.ico
  next/src/app/globals.css
  next/src/app/layout.tsx
  next/tests/app/root.test.tsx
  next/tests/components/ContactForm.test.tsx
  next/tests/components/InputError.test.tsx
  next/tests/components/formSubmit.test.ts
  next/tests/support/render.tsx
  next/tests/support/server.ts
  next/tsconfig.json
  web/index.html
  web/src/index.css
  web/vitest.setup.ts
Due: web

Abroad
  next/package.json
  next/pnpm-lock.yaml
  next/src/app/abroad/page.tsx
  next/src/app/assets/github.svg
  next/src/app/assets/linkedin.svg
  next/src/components/ContactForm/ContactForm.tsx
  next/src/components/ContactForm/InputError.tsx
  next/src/components/ContactForm/SubmitButton.tsx
  next/src/components/ContactForm/formSubmit.ts
  next/src/components/ContactForm/index.ts
  next/src/components/ContactForm/schema.ts
  next/src/components/Footer.tsx
  next/src/components/Header.tsx
  next/src/components/Icon.tsx
  next/src/components/Layout.tsx
  next/src/components/Link.tsx
  next/src/config.ts
  next/src/context/ThemeProvider.tsx
  next/src/context/ThemeProviderContext.tsx
  next/src/context/useTheme.ts
  next/src/hooks/useHead.ts
  next/src/hooks/useLocalStorage.ts
  next/src/hooks/useRateLimit.ts
  next/src/utils.ts
  web/src/components/Link.tsx
Due: web

disclosures/support/privacy
  next/src/app/abroad/Header.tsx
  next/src/app/abroad/disclosures/page.tsx
  next/src/app/abroad/privacy/page.tsx
  next/src/app/abroad/support/page.tsx
  web/src/main.tsx
  web/tsconfig.json
Due: web

landing
  next/package.json
  next/pnpm-lock.yaml
  next/src/app/page.tsx
  web/src/app/[root]/index.tsx
Due: web

theme
  next/src/app/layout.tsx
  next/src/context/ThemeProvider.tsx
  next/src/context/ThemeProviderContext.tsx
  web/src/main.tsx
Due: web

css/layout
  next/src/app/globals.css
  next/src/app/layout.tsx
  next/src/app/theme.css
Due: none

not found
  next/src/app/not-found.tsx
  web/src/app/not-found.tsx
  web/tsconfig.json
Due: web

wip
  next/src/app/abroad/disclosures/page.tsx
  next/src/app/abroad/privacy/page.tsx
  next/src/app/abroad/support/page.tsx
  next/src/components/ContactForm/ContactForm.tsx
  next/src/components/ContactForm/InputError.tsx
  next/src/components/ContactForm/schema.ts
  next/src/components/Footer.tsx
  next/src/lib/actions/contact-actions.ts
  next/src/lib/config.ts
  next/src/lib/utils.ts
  next/tests/components/formSubmit.test.ts
  next/tests/support/server.ts
Due: none

contact submit
  next/src/components/ContactForm/ContactForm.tsx
  next/src/lib/actions/contact-actions.ts
  next/src/lib/schema/contact-schema.ts
Due: none

operator
  api/src/config.ts
  api/tsconfig.json
  next/package.json
  next/pnpm-lock.yaml
  next/src/lib/actions/contact-actions.ts
  next/src/lib/config.ts
  next/src/lib/utils/LokiTransport.ts
  next/src/lib/utils/index.ts
  next/src/services/contact.service.ts
  next/src/services/logger.service.ts
Due: api

use app env
  next/src/lib/config.ts
Due: none

cleanup
  .github/workflows/ci-build-api.yml
  .github/workflows/ci-test-api.yml
  api/pnpm-workspace.yaml
  api/src/api/contact.handler.ts
  api/src/app.ts
  api/src/index.ts
  api/src/schemas/ContactFormInput.schema.ts
  api/tsconfig.json
  api/tsup.config.ts
  next/src/lib/actions/contact-actions.ts
Due: api

Contact form submission (#151)
  .github/workflows/ci-build-api.yml
  .github/workflows/ci-test-api.yml
  api/pnpm-workspace.yaml
  api/src/api/contact.handler.ts
  api/src/app.ts
  api/src/config.ts
  api/src/index.ts
  api/src/schemas/ContactFormInput.schema.ts
  api/tsconfig.json
  api/tsup.config.ts
  next/package.json
  next/pnpm-lock.yaml
  next/src/app/abroad/disclosures/page.tsx
  next/src/app/abroad/privacy/page.tsx
  next/src/app/abroad/support/page.tsx
  next/src/components/ContactForm/ContactForm.tsx
  next/src/components/ContactForm/InputError.tsx
  next/src/components/ContactForm/formSubmit.ts
  next/src/components/ContactForm/schema.ts
  next/src/components/Footer.tsx
  next/src/config.ts
  next/src/lib/actions/contact-actions.ts
  next/src/lib/config.ts
  next/src/lib/schema/contact-schema.ts
  next/src/lib/utils/LokiTransport.ts
  next/src/lib/utils/index.ts
  next/src/services/contact.service.ts
  next/src/services/logger.service.ts
  next/tests/components/formSubmit.test.ts
  next/tests/support/server.ts
Due: api

tests wip
  next/package.json
  next/pnpm-lock.yaml
  next/tests/actions/contact-actions.test.ts
  next/tests/app/root.test.tsx
  next/tests/components/ContactForm.test.tsx
  next/tests/components/InputError.test.tsx
  next/tsconfig.json
  next/vitest.setup.ts
Due: none

tests running
  next/jest-dom.d.ts
  next/package.json
  next/pnpm-lock.yaml
  next/tests/components/ContactForm.test.tsx
  next/tests/support/server.ts
  next/tsconfig.json
  next/vitest.config.ts
  next/vitest.setup.ts
Due: none

mocks
  next/tests/actions/contact-actions.test.ts
Due: none

passing
  next/src/lib/actions/contact-actions.ts
  next/tests/support/render.tsx
Due: none

update workflow
  .github/workflows/ci-test.yml
Due: none

jest types
  next/jest-dom.d.ts
  next/tests/app/root.test.tsx
  next/tests/components/ContactForm.test.tsx
  next/tsconfig.json
  next/vitest.setup.ts
Due: none

cleanup
  next/tests/actions/contact-actions.test.ts
  next/tsconfig.json
  next/vitest.config.ts
  next/vitest.setup.ts
Due: none

Next.js: tests (#152)
  .github/workflows/ci-test.yml
  next/package.json
  next/pnpm-lock.yaml
  next/src/lib/actions/contact-actions.ts
  next/tests/actions/contact-actions.test.ts
  next/tests/app/root.test.tsx
  next/tests/components/ContactForm.test.tsx
  next/tests/components/InputError.test.tsx
  next/tests/components/formSubmit.test.ts
  next/tests/support/render.tsx
  next/tests/support/server.ts
  next/tsconfig.json
  next/vitest.config.ts
  next/vitest.setup.ts
Due: none

update return pattern
  api/tests/api.test.ts
  next/src/lib/actions/contact-actions.ts
  next/src/lib/types.ts
  next/tests/actions/contact-actions.test.ts
  web/package.json
  web/pnpm-lock.yaml
  web/tsconfig.json
  web/vite-env.d.ts
  web/vite.config.ts
Due: api, web

validations
  api/src/middleware/schemaValidation.middleware.ts
  api/tests/api.test.ts
  next/src/lib/actions/contact-actions.ts
  next/tests/actions/contact-actions.test.ts
Due: api

fetch pattern
  api/tests/api.test.ts
  api/tests/contact.service.test.ts
  next/package.json
  next/pnpm-lock.yaml
  next/src/lib/actions/contact-actions.ts
  next/src/lib/types.ts
  next/src/services/contact.service.ts
  next/tests/actions/contact-actions.test.ts
  next/tests/services/contact.service.test.ts
  next/vitest.setup.ts
Due: api

service tests
  next/tests/services/contact.service.test.ts
Due: none

cleanup
  api/jest.config.ts
  api/pnpm-lock.yaml
Due: api

Add more contact tests (#153)
  api/jest.config.ts
  api/pnpm-lock.yaml
  api/src/middleware/schemaValidation.middleware.ts
  api/tests/api.test.ts
  next/package.json
  next/pnpm-lock.yaml
  next/src/lib/actions/contact-actions.ts
  next/src/lib/types.ts
  next/src/services/contact.service.ts
  next/tests/actions/contact-actions.test.ts
  next/tests/services/contact.service.test.ts
  next/vitest.setup.ts
  web/package.json
  web/pnpm-lock.yaml
  web/tsconfig.json
  web/vite-env.d.ts
  web/vite.config.ts
Due: api, web

Use next-themes
  next/package.json
  next/pnpm-lock.yaml
  next/src/app/layout.tsx
  next/src/components/Footer.tsx
  next/src/components/ThemeProvider.tsx
  next/src/context/ThemeProvider.tsx
  next/src/context/ThemeProviderContext.tsx
  next/src/context/useTheme.ts
Due: none

drop api
  api/package.json
  api/src/config.ts
  api/src/middleware/cors.middleware.ts
  api/src/middleware/rateLimit.middleware.ts
  legacy/logging.middleware.ts
Due: api
