Repository still-forest/dot-dev: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

use Image
  web/package.json
  web/pnpm-lock.yaml
  web/src/app/abroad/disclosures/page.tsx
  web/src/app/abroad/page.tsx
  web/src/app/abroad/privacy/page.tsx
  web/src/app/abroad/support/page.tsx
  web/src/app/page.tsx
  web/src/components/BrandIcon.tsx
  web/src/components/Footer.tsx
  web/src/components/Header.tsx
  web/src/components/HeroImage.tsx
  web/src/components/Image.tsx
  web/src/components/ThemeSelector.tsx
  web/src/components/abroad/AbroadLogo.tsx
  web/src/components/abroad/Header.tsx
Due: web

migrate action over
  api/src/api/contact.handler.ts
  api/src/services/logger.service.ts
  api/tsconfig.json
  web/package.json
  web/pnpm-lock.yaml
  web/src/lib/actions/contact.actions.ts
  web/src/lib/config.ts
  web/src/lib/errors/ValidationError.ts
  web/src/lib/schema/contact.schema.ts
  web/src/lib/services/contact.service.ts
  web/src/lib/services/logger.service.ts
  web/tests/actions/contact.actions.test.ts
Due: api, web

use it
  web/src/components/ContactForm/ContactForm.tsx
  web/src/components/ContactForm/InputError.tsx
  web/src/components/ContactForm/RateLimitError.tsx
  web/src/components/ContactForm/SubmitButton.tsx
  web/src/components/ContactForm/formSubmit.ts
  web/src/lib/actions/contact.actions.ts
  web/src/lib/schema/contact.schema.ts
  web/src/lib/services/contact.service.ts
  web/tests/actions/contact.actions.test.ts
  web/tests/components/ContactForm.test.tsx
  web/tests/components/InputError.test.tsx
  web/tests/components/formSubmit.test.ts
Due: web

logger
  api/src/config.ts
  web/package.json
  web/pnpm-lock.yaml
  web/src/lib/actions/contact.actions.ts
  web/src/lib/config.ts
  web/src/lib/services/logger.service.ts
  web/src/lib/utils/LokiTransport.ts
  web/src/lib/utils/index.ts
Due: api, web

error handling
  web/src/lib/actions/contact.actions.ts
  web/src/lib/config.ts
  web/src/lib/config/environment.ts
  web/src/lib/config/index.ts
  web/src/lib/config/logging.ts
  web/src/lib/errors/error.parser.ts
  web/src/lib/errors/types.ts
  web/src/lib/services/contact.service.ts
  web/src/lib/services/logger.service.ts
  web/tests/actions/contact.actions.test.ts
Due: web

kill api
  .github/workflows/ci-build-api.yml
  .github/workflows/ci-test-api.yml
  api/jest.config.ts
  api/package.json
  api/pnpm-lock.yaml
  api/pnpm-workspace.yaml
  api/src/api/contact.handler.ts
  api/src/app.ts
  api/src/config.ts
  api/src/index.ts
  api/src/middleware/cors.middleware.ts
  api/src/middleware/logging.middleware.ts
  api/src/middleware/rateLimit.middleware.ts
  api/src/types.ts
  api/tests/OperatorService.test.ts
  api/tests/api.test.ts
  api/tests/contact-actions.test.ts
  api/tsconfig.json
  api/tsup.config.ts
Due: api

cleanup
  codecov.yml
Due: none

cleanup
  web/src/lib/services/contact.service.ts
Due: web

cleanup
  bin/docker
  biome.json
  scripts/docker-utils.sh
Due: none

types
  web/package.json
  web/pnpm-lock.yaml
Due: web

cleanup dependencies
  package.json
  pnpm-lock.yaml
  web/package.json
  web/pnpm-lock.yaml
Due: web

lint path
  .github/workflows/ci-lint.yml
Due: none

Add status route back
  src/app/api/status/route.ts
  src/components/ContactForm/ContactForm.tsx
  src/lib/config/index.ts
Due: none

feedback
  Dockerfile
  src/app/api/status/route.ts
  src/app/not-found.tsx
  src/components/ContactForm/ContactForm.tsx
  src/components/Footer.tsx
  src/components/Link.tsx
  src/lib/actions/contact.actions.ts
  src/lib/config/client.ts
  src/lib/config/index.ts
  src/lib/config/server.ts
  src/lib/errors/error.parser.ts
  src/lib/errors/types.ts
  src/lib/services/contact.service.ts
  tests/app/root.test.tsx
  tests/components/ContactForm.test.tsx
  tests/support/render.tsx
  tsconfig.json
Due: none

don't require to pass
  codecov.yml
Due: none

don't add underline to abroad header
  src/components/abroad/Header.tsx
Due: none

remove Vite
  package.json
  pnpm-lock.yaml
Due: none

Remove Vite (#184)
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  api: any of: api/
  web: any of: web/
