Repository still-forest/dot-dev: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

cleanup
  api/src/app.ts
  api/src/types.ts
Due: api

testing
  api/package.json
  api/pnpm-lock.yaml
  api/src/config.ts
  api/src/services/logger.service.ts
Due: api

only create if production
  api/src/services/logger.service.ts
Due: api

Configure Grafana/Loki for log monitoring (#60)
  api/package.json
  api/pnpm-lock.yaml
  api/src/config.ts
  api/src/services/logger.service.ts
  api/tsconfig.json
  docker-compose.yml
Due: api

reconfigure
  api/package.json
  api/pnpm-lock.yaml
  api/src/config.ts
  api/src/services/logger.service.ts
Due: api

port
  api/src/config.ts
Due: api

it's already a Date
  api/src/services/logger.service.ts
Due: api

Update Loki log transport (#61)
  api/package.json
  api/pnpm-lock.yaml
  api/src/config.ts
  api/src/services/logger.service.ts
Due: api

update config
  api/src/config.ts
Due: api

Update Loki config (#62)
  api/src/config.ts
Due: api

just build my own transport
  api/package.json
  api/pnpm-lock.yaml
  api/src/app.ts
  api/src/services/logger.service.ts
  api/src/utils/LokiTransport.ts
Due: api

cleanup
  api/src/app.ts
  api/src/config.ts
  api/src/services/logger.service.ts
  api/src/utils/LokiTransport.ts
Due: api

Apply suggestions from code review
  api/src/utils/LokiTransport.ts
Due: api

Update api/src/utils/LokiTransport.ts
  api/src/utils/LokiTransport.ts
Due: api

lint
  api/src/utils/LokiTransport.ts
Due: api

Use a custom Winston transport to Loki (#63)
  api/package.json
  api/pnpm-lock.yaml
  api/src/config.ts
  api/src/services/logger.service.ts
  api/src/utils/LokiTransport.ts
Due: api

I guess file name is required now
  biome.json
Due: none

initialize next
  app/.gitignore
  app/README.md
  app/next.config.ts
  app/package.json
  app/pnpm-lock.yaml
  app/postcss.config.mjs
  app/public/file.svg
  app/public/globe.svg
  app/public/next.svg
  app/public/vercel.svg
  app/public/window.svg
  app/src/app/favicon.ico
  app/src/app/globals.css
  app/src/app/layout.tsx
  app/src/app/page.tsx
  app/tsconfig.json
  biome.json
Due: none

collapse into root
  .gitignore
  app/.gitignore
  app/README.md
  app/package.json
  app/pnpm-lock.yaml
  next.config.ts
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  tsconfig.json
Due: none

lint
  biome.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/app/page.tsx
Due: none

dockerfile
  Dockerfile
Due: none

dependencies
  codecov.yml
  package.json
  pnpm-lock.yaml
Due: none

root
  src/app/globals.css
  src/app/index.css
  src/app/layout.tsx
  src/assets/icon-192.png
  src/assets/logo-full-lg.png
Due: none

rendering
  next.config.ts
  package.json
  pnpm-lock.yaml
  public/file.svg
  public/globe.svg
  public/icon-192.png
  public/logo-full-lg.png
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/App.tsx
  src/app/page.tsx
  src/assets/github.svg
  src/assets/linkedin.svg
  src/components/ContactForm/ContactForm.tsx
  src/components/ContactForm/InputError.tsx
  src/components/ContactForm/SubmitButton.tsx
  src/components/ContactForm/formSubmit.ts
  src/components/ContactForm/index.ts
  src/components/ContactForm/schema.ts
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Layout.tsx
  src/config.ts
  src/context/ThemeProvider.tsx
  src/context/ThemeProviderContext.tsx
  src/context/useTheme.ts
  src/hooks/useLocalStorage.ts
  src/hooks/useRateLimit.ts
  web/src/main.tsx
Due: web

fix css
  src/app/index.css
Due: none

cleanup web folder
  tests/App.test.tsx
  tests/components/ContactForm.test.tsx
  tests/components/InputError.test.tsx
  tests/components/formSubmit.test.ts
  tests/support/server.ts
  vitest.setup.ts
  web/index.html
  web/package.json
  web/pnpm-lock.yaml
  web/src/main.tsx
  web/tsconfig.json
  web/vite-env.d.ts
Due: web

workflows
  .github/workflows/ci-lint-build.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-test-api.yml
  .github/workflows/ci-test-web.yml
  .github/workflows/ci-test.yml
  package.json
Due: none

tests running
  vitest.config.ts
Due: none

add hook-form
  package.json
  pnpm-lock.yaml
Due: none

move remaining files in
  api/jest.config.ts
  api/pnpm-lock.yaml
  api/src/api/contact.handler.ts
  api/src/app.ts
  api/src/config.ts
  api/src/index.ts
  api/tsconfig.json
  api/tsup.config.ts
  package.json
  pnpm-lock.yaml
  src/app/api/contact.handler.ts
  src/app/favicon.ico
  src/config.ts
  src/middleware/cors.middleware.ts
  src/middleware/logging.middleware.ts
  src/middleware/rateLimit.middleware.ts
  src/middleware/schemaValidation.middleware.ts
  src/schemas/ContactFormInput.schema.ts
  src/services/contact.service.ts
  src/services/logger.service.ts
  src/utils/LokiTransport.ts
  tests/api.test.ts
  tests/contact.service.test.ts
Due: api

middleware
  package.json
  pnpm-lock.yaml
  src/app/api/contact.handler.ts
  src/middleware.ts
  src/middleware/cors.middleware.ts
  src/middleware/cors.ts
  src/middleware/logging.middleware.ts
  src/middleware/logging.ts
  src/middleware/rate-limit.ts
  src/middleware/rateLimit.middleware.ts
  src/middleware/schemaValidation.middleware.ts
  src/middleware/validation.ts
Due: none

tests running, but failing
  package.json
  pnpm-lock.yaml
  src/app/api/contact.ts
  src/middleware.ts
  vitest.config.ts
Due: none

depcheck
  package.json
  pnpm-lock.yaml
Due: none

cleanup
  api/package.json
  api/src/app.ts
  package.json
  pnpm-lock.yaml
  src/app/App.tsx
  src/middleware/logging.ts
  src/middleware/rate-limit.ts
Due: api

try to get tests going
  package.json
  pnpm-lock.yaml
  src/app/api/contact/route.ts
  src/services/contact.service.ts
  tests/api/routes/contact.test.ts
  tests/api/services/contact.service.test.ts
  tests/components/App.test.tsx
  tests/setup-msw.ts
  tests/support/test-server.ts
  tsconfig.json
  vitest.config.ts
  vitest.setup.ts
Due: none

get some contact api tests passing
  src/app/api/contact/route.ts
  tests/api/routes/contact.test.ts
Due: none

progress
  tests/api/services/contact.service.test.ts
  tests/components/App.test.tsx
  vitest.setup.ts
Due: none

feedback
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/app/api/contact/route.ts
  src/config.ts
  src/middleware/cors.ts
  src/middleware/logging.ts
  src/middleware/validation.ts
  still-forest-dot-dev.code-workspace
  tests/api/routes/contact.test.ts
  tests/support/test-server.ts
Due: none

build fixes...but more left
  src/context/ThemeProvider.tsx
  src/middleware/logging.ts
  src/middleware/validation.ts
  tests/support/test-server.ts
Due: none

try separating setup configs
  package.json
  pnpm-lock.yaml
  src/app/api/contact/route.ts
  src/middleware.ts
  src/middleware/validation.ts
  tests/api/routes/contact.test.ts
  tests/components/App.test.tsx
  tests/components/formSubmit.test.ts
  tests/setup-api.ts
  tests/setup-frontend.ts
  tests/setup-msw.ts
  tests/support/next-test-server.ts
  vitest.config.ts
Due: none

Path conditions:
  api: any of: api/
  web: any of: web/
