Repository still-forest/dot-dev: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default: false # disable the default status
      api:
        flags:
          - api
        paths:
          - "api/"
      web:
        flags:
          - web
        paths:
          - "web/"

flags:
  api:
    paths:
      - api/
  web:
    paths:
      - web/

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default

workflows
  .github/workflows/ci-build.yml
  .github/workflows/ci-test.yml
Due: none

update dockerfile
  .github/workflows/ci-build.yml
  .github/workflows/publish.yml
  Dockerfile
  bin/docker
  docker-compose.yml
  next.config.ts
  scripts/docker-utils.sh
  src/components/Footer.tsx
  src/components/Icon.tsx
  tsconfig.json
Due: none

svgs
  next.config.ts
  package.json
  pnpm-lock.yaml
  public/icons/github.svg
  public/icons/linkedin.svg
  src/app/assets/linkedin.svg
  src/components/Footer.tsx
Due: none

fixes
  biome.json
  package.json
  pnpm-lock.yaml
  src/components/Footer.tsx
  src/components/Icon.tsx
  vitest.config.ts
Due: none

Use Image
  src/app/abroad/Header.tsx
  src/app/abroad/page.tsx
  src/app/page.tsx
  src/components/Footer.tsx
Due: none

feedback
  .dockerignore
  src/app/abroad/Header.tsx
  src/components/ContactForm/ContactForm.tsx
  src/components/Footer.tsx
  src/lib/actions/contact-actions.ts
  src/lib/types.ts
  src/services/contact.service.ts
  tests/actions/contact-actions.test.ts
Due: none

sanitize inputs
  package.json
  pnpm-lock.yaml
  src/components/canopy.tsx
  src/lib/schema/contact-schema.ts
Due: none

types
  package.json
  pnpm-lock.yaml
Due: none

feedback
  tsconfig.json
  vitest.config.ts
Due: none

cleanup
  src/lib/schema/contact-schema.ts
Due: none

more
  package.json
  pnpm-lock.yaml
  src/components/canopy.tsx
Due: none

fixes
  package.json
  pnpm-lock.yaml
  src/lib/schema/contact-schema.ts
Due: none

don't embed env vars in image
  Dockerfile
  docker-compose.yml
  src/lib/config.ts
Due: none

debug
  src/services/logger.service.ts
Due: none

I guess that's not necessary?
  package.json
  pnpm-lock.yaml
  src/lib/schema/contact-schema.ts
  tests/actions/contact-actions.test.ts
Due: none

don't log to file in production
  .github/workflows/publish.yml
  docker-compose.yml
  src/services/logger.service.ts
Due: none

display error correctly if submission fails
  src/components/ContactForm/ContactForm.tsx
  tests/components/ContactForm.test.tsx
Due: none

add status api
  src/app/api/status/route.ts
Due: none

cleanup
  docker-compose.override.yml
  docker-compose.yml
  package.json
  pnpm-lock.yaml
Due: none

Update messages
  tests/actions/contact-actions.test.ts
Due: none

cleanup
  .dockerignore
  .github/workflows/ci-build-api.yml
  .github/workflows/ci-build-web.yml
  .github/workflows/ci-test-api.yml
  .github/workflows/ci-test-web.yml
  .github/workflows/publish.yml
  next-env.d.ts
Due: none

no log file in production
  api/src/services/logger.service.ts
Due: api

serve react app in staging
  api/src/app.ts
  api/src/config.ts
  docker-compose.yml
Due: api

simplify
  api/src/config.ts
  api/src/services/logger.service.ts
  docker-compose.yml
Due: api

omfg
  api/src/app.ts
Due: api

initial migration
  .gitignore
  web/index.html
  web/package.json
  web/pnpm-lock.yaml
  web/react-router.config.ts
  web/src/catchall.tsx
  web/src/entry.client.tsx
  web/src/main.tsx
  web/src/root.tsx
  web/src/routes.ts
  web/vite.config.ts
Due: web

routes
  web/src/App.tsx
  web/src/catchall.tsx
  web/src/pages/abroad/disclosures.tsx
  web/src/pages/abroad/index.tsx
  web/src/pages/abroad/privacy.tsx
  web/src/pages/abroad/support.tsx
  web/src/pages/index.tsx
  web/src/pages/not-found.tsx
  web/src/root.tsx
  web/src/routes.ts
  web/tests/app/root.test.tsx
Due: web

move contact to separate page
  web/src/app/[root]/index.tsx
  web/src/app/abroad/disclosures.tsx
  web/src/app/abroad/privacy.tsx
  web/src/app/abroad/support.tsx
  web/src/app/contact/index.tsx
  web/src/components/ContactForm/ContactForm.tsx
  web/src/components/Header.tsx
  web/src/components/Layout.tsx
  web/src/components/SectionHeading.tsx
  web/src/main.tsx
Due: web

style tweaks
  web/src/components/ContactForm/ContactForm.tsx
Due: web

tests wip
  web/src/components/ContactForm/ContactForm.tsx
  web/tests/app/root.test.tsx
  web/tests/components/ContactForm.test.tsx
  web/tests/support/render.tsx
Due: web

lean on server for rate limit
  web/src/components/ContactForm/ContactForm.tsx
  web/src/components/ContactForm/RateLimitError.tsx
  web/src/components/ContactForm/formSubmit.ts
  web/src/hooks/useRateLimit.ts
  web/src/lib/types.ts
  web/tests/components/ContactForm.test.tsx
  web/tests/components/formSubmit.test.ts
Due: web

Move contact form to its own page (#157)
  web/src/app/[root]/index.tsx
  web/src/app/abroad/disclosures.tsx
  web/src/app/abroad/privacy.tsx
  web/src/app/abroad/support.tsx
  web/src/app/contact/index.tsx
  web/src/components/ContactForm/ContactForm.tsx
  web/src/components/ContactForm/RateLimitError.tsx
  web/src/components/ContactForm/formSubmit.ts
  web/src/components/Header.tsx
  web/src/components/Layout.tsx
  web/src/components/SectionHeading.tsx
  web/src/hooks/useRateLimit.ts
  web/src/lib/types.ts
  web/src/main.tsx
  web/tests/app/root.test.tsx
  web/tests/components/ContactForm.test.tsx
  web/tests/components/formSubmit.test.ts
  web/tests/support/render.tsx
Due: web

use contact form instead of printing email
  web/src/app/abroad/disclosures.tsx
  web/src/app/abroad/privacy.tsx
  web/src/app/abroad/support.tsx
  web/src/components/ContactForm/ContactForm.tsx
  web/src/config.ts
Due: web

use default exports
  web/src/app/[root]/index.tsx
  web/src/app/abroad/disclosures.tsx
  web/src/app/abroad/index.tsx
  web/src/app/abroad/privacy.tsx
  web/src/app/abroad/support.tsx
  web/src/app/contact/index.tsx
  web/src/app/not-found.tsx
  web/src/main.tsx
Due: web

fix test
  web/tests/app/root.test.tsx
Due: web

style tweaks
  web/src/app/abroad/support.tsx
  web/src/components/SectionHeading.tsx
Due: web

return to Abroad
  web/src/app/abroad/support.tsx
  web/src/components/ContactForm/ContactForm.tsx
  web/tests/components/ContactForm.test.tsx
Due: web
